.question {
	position: relative;
	margin-left: 20px;
	font: 2em bold Verdana;
}

.image {
	width: 300px;
	float: left;
	margin: 20px;
	border: 2px solid blue;
}

.choice {
	position: relative;
	top: 20px;
	margin-left: 40px;
	font: 14px Verdana;
	clear: both;
}

.choice > checkbox {
	width: 20px;
	height: 20px;
}

.active-button {
	position: relative;
	left: 0px;
	float: left;
	height: 30px;
	background-color: #23427C;
	color: #FFFFFF;
	padding: 8px;
}

.active-button > .span {
	font-weight: bold;
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.active-button.next {
	position: fixed;
	left: 20px;
	right: 20px;
	bottom: 20px;
	height: 100px;
	text-align: center;
	line-height: 90px;
	font-size: 3em;
	width: none;
}

.label {
	font-size: 2em;
}
